.body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #000111 0%, #000000 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}

.body .illustration-editor {
  margin-top: -2rem;
  margin-right: -10rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 24px auto;
      grid-template-rows: 24px auto;
  justify-items: center;
  position: relative;
}

.body .code {
  position: absolute;
  width: 290px;
  height: 145px;
  background: #1D1E22;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  z-index: 5;
}

.body .code header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 36px auto 36px;
      grid-template-columns: 36px auto 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .code header svg {
  margin: 10px;
}

.body .code header h1 {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 1.57px;
  color: #C5C8D4;
  margin: 0;
}

.body .code-html {
  left: -100px;
  top: 40px;
}

.body .code-css {
  left: -25px;
  top: 200px;
}

.body .code-js {
  left: -175px;
  top: 360px;
}

.body .code .code-content {
  margin: 0 10px 10px;
  color: white;
}

.body .code .code-content .c-r {
  color: #A88038;
}

.body .code .code-content .c-o {
  color: #DE7300;
}

.body .code .code-content .c-y {
  color: #E1CA72;
}

.body .code .code-content .c-g {
  color: #74B087;
}

.body .code .code-content .c-p {
  color: #9F8198;
}

.body .code .code-content .c-b {
  color: #7A99AD;
}

.body .code .code-content .c-c {
  color: #666666;
}

.body .code-css .code-content code .line-1 {
  width: 0%;
  margin: 0;
  border-right: .15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.body .code-css .code-content code .line-2 {
  width: 0%;
  margin: 0;
  border-right: .15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.body .code-css .code-content code .line-3 {
  width: 0%;
  margin: 0;
  border-right: .15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.body .code-css .code-content code .line-4 {
  width: 0%;
  margin: 0;
  border-right: .15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.body .code-css .code-content code .line-5 {
  width: 0%;
  margin: 0;
  border-right: .15em solid transparent;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

.body .code-css .code-content code .line-1 {
  -webkit-animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
          animation: typing-1 3s 0s steps(30, end) forwards, cursor 1s linear 0s 3;
}

.body .code-css .code-content code .line-2 {
  -webkit-animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
          animation: typing-2 3s 3s steps(30, end) forwards, cursor 1s linear 3s 3;
}

.body .code-css .code-content code .line-3 {
  -webkit-animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
          animation: typing-3 3s 6s steps(30, end) forwards, cursor 1s linear 6s 3;
}

.body .code-css .code-content code .line-4 {
  -webkit-animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
          animation: typing-4 3s 9s steps(30, end) forwards, cursor 1s linear 9s 3;
}

.body .code-css .code-content code .line-1, .body .code-css .code-content code .line-3, .body .code-css .code-content code .line-4 {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(10, end);
          animation-timing-function: steps(10, end);
}

.body .code-css .code-content code .line-5 {
  border-color: transparent;
  -webkit-animation: typing-5 3s 12s steps(30, end) forwards, cursor-persist 1s linear 12s infinite;
          animation: typing-5 3s 12s steps(30, end) forwards, cursor-persist 1s linear 12s infinite;
}

.body .code-css .code-content code .line-2 {
  margin-left: 2rem;
}

.body .code-css .code-content code .line-3, .body .code-css .code-content code .line-4, .body .code-css .code-content code .line-5 {
  margin-left: 4rem;
}

.body .editor-block {
  position: relative;
  display: block;
  width: 500px;
  height: 421px;
  background: linear-gradient(109.61deg, #4C4F5A 4.26%, #202125 84.84%);
  border-radius: 10px;
}

@-webkit-keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}

@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 60px;
  }
}

@-webkit-keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}

@keyframes typing-2 {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}

@-webkit-keyframes typing-3 {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@keyframes typing-3 {
  from {
    width: 0;
  }
  to {
    width: 70px;
  }
}

@-webkit-keyframes typing-4 {
  from {
    width: 0;
  }
  to {
    width: 75px;
  }
}

@keyframes typing-4 {
  from {
    width: 0;
  }
  to {
    width: 75px;
  }
}

@-webkit-keyframes typing-5 {
  from {
    width: 0;
  }
  to {
    width: 141px;
  }
}

@keyframes typing-5 {
  from {
    width: 0;
  }
  to {
    width: 141px;
  }
}

@-webkit-keyframes cursor {
  from, to, 20%, 80% {
    border-color: transparent;
  }
  25%, 75% {
    border-color: white;
  }
}

@keyframes cursor {
  from, to, 20%, 80% {
    border-color: transparent;
  }
  25%, 75% {
    border-color: white;
  }
}

@-webkit-keyframes cursor-persist {
  from, 45% {
    border-color: transparent;
  }
  50%, to {
    border-color: white;
  }
}

@keyframes cursor-persist {
  from, 45% {
    border-color: transparent;
  }
  50%, to {
    border-color: white;
  }
}
/*# sourceMappingURL=new.css.map */